# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* list data science languages
* table of Data Science tools
* list popular languages used by Data Scientists
* list Data Science Libraries
* Evaluating some of the arithematic expressions

#Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Java
4. R 
5. Scala
6. C/C++
7. Julia
8. Javascript

#Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. Tensorflow
5. Keras

 #Create a markdown cell with a table of Data Science tools
 
 | Data Science Tools |
 |---------------|
 | Jupyter |
 | Rstudio |
 | Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers 

(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Ramya Rajalakshmi U